*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

li{
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

header{
    display: flex;
    justify-content: space-between;
    padding: 12px 50px;
    height: 70px;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    background: rgba(255, 255, 255, 0.3)
}
header.sticky{
    background: rgba(255, 255, 255, 1)
}
header:hover{
    background: rgba(255, 255, 255, 1)
}

.logo{
    flex: 1;
    
}
.menu{
    flex: 3;
    display: flex;
}
.menu > li {
    padding: 0px 40px;
    position: relative;
}
.menu > li a {
    font-size: 15px;
    font-weight: bold;
    display: block;
    line-height: 40px;
}
.menu > li:hover .submenu{
    visibility: visible;
    top: 35px;
}
.submenu {
    position: absolute;
    width: 180px;
    border: 1px solid #ccc;
    padding: 10px 0px 10px 20px;
    visibility: hidden;
    top: 50px;
    transition: 0.1s;
    z-index: 1;
    background-color: white;
}

.submenu ul a {
    font-weight: normal;
}
.others{
    flex: 1;
    display: flex;
}
.others > li {
    padding: 0px 12px;
}
.others > li:first-child{
    position: relative;
}
.others > li:first-child input{
    width: 100%;
    border: none;
    border-bottom: 1px solid black;
    height: 20px;
    background: transparent;
    outline: none;
}
.others > li:first-child li{
    position: absolute;
    right: 10px;
}
#Slider{
    padding-bottom: 30px;
    /* border-bottom: 2px solid black;  */
    overflow: hidden;
}
.aspect-ratio-169{
    display: block;
    position: relative;
    padding-top: 56.25%;
    transition: 0.3s;
   
}
.aspect-ratio-169 img{
    display: block;
    position: absolute;
    width: 100%;
    height: 99%;
    top: 0;
    left: 0;
}
.dot-container{
    position: absolute;
    height: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
}
.dot {
    height: 16px;
    width: 16px;
    background-color: #ccc;
    border-radius: 50px;
    margin-right: 12px;
    cursor: pointer; 
}
.dot.active{
    background-color: #333;
}
/*---------------foot_logo---------------*/

.app-container{
    text-align: center;
    align-items: center;
    padding: 150px 0 50px 0;
}

.logo{
    margin: 50px;
}
.logo a img{
    margin: 50px;
}

.app-container p {
    list-style: 20px;
    letter-spacing: 1px;
    font-size: 17px;
    color: black;
    font-weight: bold;
}

.app-container input {
    margin-top: 50px;
    border: none;
    border-bottom: 1px solid black;
    padding-bottom: 20px;
    width: 400px;
    text-align: center;
    outline: none;
}
/*---------------footer---------------*/
footer{
    text-align: center;
}

.footer-top{
    display: flex;   
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    height: 70px;
}
.footer-top li {
    padding: 0 12px;
    position: relative;
}
.footer-top li::after{
    content: "";
    display: block;
    width: 1px;
    height: 80%;
    background-color: #cccccc;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}
.footer-top li:last-child::after{
    display: none;
}
.footer-top li:last-child a {
    margin-right: 12px;
    color: #333;
}
.footer-center{
    text-align: center;
}
.footer-center b{
    font-weight: bold;
}
.footer-bottom{
    margin: 20px 0;
    text-align: center;
}

/* Category */
.container {
    max-width: 1200px;
    margin: auto;
}
.row {
    display: flex;
    flex-wrap: wrap;
}
.categories{
    padding: 100px 0 0;
}
.categories-top{
    margin-bottom: 50px;
}
.categories-top p{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 12px;
    font-size: 12px;
}
.categories-left{
    background-color: #fff;
    border: 1px solid #dddddd;
    width: 20%;
}

.categories-right{
    width: 80%;
}
.categories-right-top-item:first-child {
    flex: 2;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.categories-right-top-item{
    flex: 1;
    padding: 0 12px;
}
.categories-right-top-item button{
    width: 100%;
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    border: 1px solid #dddddd;
    cursor: pointer;
}
.categories-right-top-item select{
    width: 100%;
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    border: 1px solid #dddddd;
    cursor: pointer;
}

.categories-right-content{
    padding-left: 10px;
    margin-top: 20px;
    justify-content: space-between;

}

.categories-right-content-item{
    width: calc(25% - 12px);
    text-align: center;
    cursor: pointer;
    padding: 12px 0;
}

.categories-right-content-item h1{
    font-size: 11px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 6px;
    color: #333333;
}

.categories-right-content-item img {
    width: 100%;
}

.categories-right-content-item p {
    font-size: 12px;
}

.categories-right-bottom{
    justify-content: space-between;
    margin: 30px 0 20px;
    width: 100%;
}

.categories-right-bottom p {
    padding-left: 10px;
    font-size: 11px;
    font-family: Arial, Helvetica, sans-serif;
}

.categories-left ul li{
    padding: 12px 0px;
}
.categories-left ul li > a {
    padding-left: 20px;
    color: black;
    font-size: 16px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.categories-left ul li ul li{
    padding-left: 10px;

}
/* .categories-left li ul{
   display: none;
}

.categories-left li.block ul{
    display: block;
}  */
.categories-left ul li ul li a {
    color: #6d6d6d;
    font-size: 12px;
}
/* Products Detail */
.product{
    padding: 100px 0;
}
.product-top {
    margin-bottom: 30px;

}
.product-top p {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 12px;
    font-size: 12px;

}

.product-content-left {
    width: 50%;
}

.product-content-left-big-img{
    width: 80%;
    padding-right: 20px;

}
.product-content-left-big-img img {
    width: 100%;
    cursor: pointer;
}
.product-content-left-small-img{
    width: 20%;

}
.product-content-left-small-img img{
    width: 100%;
    margin: 40px 0 0 0 ;
    cursor: pointer;
}
.product-content-right{
    width: 50%;
    padding-left: 20px;
}
.product-content-right-product-name h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
.product-content-right-product-name p{
    color: #6d6d6d;
    font-size: 12px;
}
.product-content-right-product-price{
    margin: 12px 0;
    font-size: 20px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.product-content-right-product-color img {
    width: 30px;
    height: 30px;
}
.product-content-right-product-color-img{
    height: 40px;
    width: 40px;
    border: 1px solid #6d6d6d;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 12px 0;
}
.size span {
    display: inline-block;
    padding: 3px 6px;
    border: 1px solid #6d6d6d;
    margin: 12px 10px 12px 0;
    font-size: 12px;
    cursor: pointer;
}
.quantity{
    display: flex;
    margin-bottom: 20px;
}
.quantity input{
    width: 35px;
    padding-left: 3px;
}
.product-content-right-product-button button {
    width: 150px;
    height: 40px;
    display: block;
    margin: 20px 0 12px;
    transition: all 0.2s ease;
}
.product-content-right-product-button button:first-child{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #fff;
    border: 2px solid black;
    cursor: pointer;
}
.product-content-right-product-button button:first-child:hover{
    background-color: black;
    color: #fff;

}
.product-content-right-product-button button:last-child{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #fff;
    border: 2px solid black;
    cursor: pointer;
}
.product-content-right-product-button button:last-child:hover{
    background-color: black;
    color: #fff;
}
.product-content-right-product-icon{
    display: flex;
    padding-bottom: 14px;
}

.product-content-right-product-icon-item{
    display: flex;
    margin-right: 12px;
    justify-content: center;
    align-items: center;
}
.product-content-right-product-icon-item i {
    font-size: 12px;
    margin-right: 6px;
}
.product-content-right-bottom{
    padding-top: 40px;
    border-top: 1px solid #dddddd;
    position: relative;
}
.product-content-right-bottom-top{
    position: absolute;
    width: 30px;
    height: 30px;
    border: 1px solid #dddddd;
    display: flex;
    justify-content: center;
    align-items: center;
    top: -15px;
    left: 50%;
    border-radius: 50%;
    background-color: #fff;
    transform: translateX(-50%);
    cursor: pointer;
}
.product-content-right-bottom-content-big-title{
    border-bottom: 1px solid #dddddd;
}
.product-content-right-bottom-content-big-title-item{
    padding: 6px;
    cursor: pointer;
    margin-right: 6px;
}
.product-content-right-bottom-content{
    padding-top: 30px;

}
.product-content-right-bottom-content {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

.product-content-right-bottom-content-big-title-item p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}
.product-content-right-bottom-content-Infomation {
    display: none;
}
.activeB{
    display: none;
}

/* Cart */

.cart {
    padding: 100px 0;
}

.cart-top-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart-top{
    height: 2px;
    width: 70%;
    background-color: #dddddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 0 100px;
}

.cart-top-item{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #dddddd;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
}

.cart-top-item i {
    color: #6d6d6d;
}

.cart-top-cart {
    border: 1px solid #0DB7EA;
}
.cart-top-cart i {
    color: #0DB7EA;
}

.cart-content-left {
    flex: 2;
    padding-right: 12px;   
}
.cart-content-left table {
    width: 100%;
    text-align: center;
}
.cart-content-left table th {
    padding-bottom: 30px ;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    color:  #333;
    border-collapse: collapse;
    border-bottom: 2px solid #dddddd;
}

.cart-content-left table p {
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    color:  #333;

}
.cart-content-left table input{
    width: 30px;

}

.cart-content-left table span {
    display: block;
    width: 20px;
    height: 20px;
    border: 1px solid #dddddd;
    cursor: pointer;
}
.cart-content-left table td {
    padding: 20px 0;
    border-bottom: 1px solid #dddddd;
}
.cart-content-left td:first-child{
    width: 130px;
}

.cart-content-left td:nth-child(2){
    max-width: 130px;
}
/* .cart-content-left td:nth-child(3) img {
    width: 30px;
} */
.cart-content-right{
    flex: 1;
    padding-left: 12px;
    border-left: 2px solid #dddddd;
}
.cart-content-right table {
    width: 100%;
}
.cart-content-right th {
    padding-bottom: 30px;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    color:  #333;
    border-collapse: collapse;
    border-bottom: 2px solid #dddddd;
}
.cart-content-right td {
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    color:  #333;
    padding: 6px 0;
    text-align: center;
}
.cart-content-right form{
    display:inline;
}
.cart-content-right-text{
    margin: 20px 0;
    text-align: center;
}
.cart-content-right-text p {
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    color:  #333;
}

.cart-content-right-button{
    text-align: center;
    align-items: center;
}
.cart-content-right-button button {
    padding: 0 18px;
    height: 35px;
    cursor: pointer;
}
.cart-content-right-button button:first-child{
    background-color: white;
    border: 1px solid black;
    margin-right: 20px;
}
.cart-content-right-button button:first-child:hover{
    background-color: #dddddd;
    color: black;
    transition: 0.3s;
}
.cart-content-right-button button:last-child{
    background-color: black;
    color: white;
    margin-right: 20px;
    border: 1px solid white;
}
.cart-content-right-button button:last-child:hover{
    background-color: #dddddd;
    color: black;
    border: 1px solid black;
    transition: 0.3s;
}
.cart-content-right-dangnhap {
    margin-top: 20px;
}
.cart-content-right-dangnhap p{
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    color:  #333;
    font-weight: bold;
}
.donhang_center{
    text-align: center;
    text-decoration: underline;
    font-size:18px;
    
}
.donhang_center p {
    color:blue;
}

/* Product-relative */
.product-related {
    margin-bottom: 50px;
}
.product-related-title {
    margin: 20px 0;
}

.product-related-title p {
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color:  #333;
}

.product-related-item{
    width: 20%;
    text-align: center;
    padding: 0 6px;
}

.product-related-item img{
    width: 100%; 
}
.product-related-item h1{
    font-size: 11px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 6px;
    color:  #333;
}
.product-related-item p {
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
}
/* Delivery */
.delivery{
    padding: 100px 0;
}
.delivery-top-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
}

.delivery-top {
    height: 2px;
    width: 70%;
    background-color: #dddddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 0 100px;
}

.delivery-top-item {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #dddddd;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
}
.delivery-top-item i {
    color: #dddddd;
}
.delivery-top-address {
    border: 1px solid #0DB7EA;
}
.delivery-top-address i {
    color: #0DB7EA;
}

.delivery-content-left {
    width: 60%;
    padding-right: 12px;
}

.delivery-content-left p {
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    
}
.delivery-content-left label {
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 6px;
    display: block;
}
.delivery-content-left > p 
{
    font-weight: bold;
} 
.delivery-content-left-dangnhap {
    margin-top: 12px;
}
.delivery-content-left-dangnhap i {
    font-size: 12px;
    margin-right: 12px;
}
.delivery-content-left-khachle {
    margin: 12px 0;
}
.delivery-content-left-khachle input {
    margin-right: 12px;
}
.delivery-content-left-dangky {
    margin-bottom: 30px;
}
.delivery-content-left-dangky input {
    margin-right: 12px;
}
.delivery-content-left-input-top {
    justify-content: space-between;
}
.delivery-content-left-input-top-item {
    width: calc(50% - 12px);

}
.delivery-content-left-input-top-item input {
    width: 100%;
    height: 35px;
    border: 1px solid #dddddd;
    padding-left: 6px;
}
.delivery-content-left-input-bottom input {
    width: 100%;
    height: 35px;
    border: 1px solid #dddddd;
    padding-left: 6px;
}
.delivery-content-left-button p {
    display: inline-block;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
}
.delivery-content-left-button span {
    margin-right: 12px;
}
.delivery-content-left-button {
    justify-content: space-between;
    padding-top: 20px;
}
.delivery-content-left-button button {
    height: 35px;
    border: 2px solid black;
    padding: 6px 12px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.delivery-content-left-button button:hover{
    background-color: black;
    color: white;
}
.delivery-content-right {
    width: 40%;
    padding-left: 12px;
    border-left: 2px solid #dddddd;
    height: auto;
}
.delivery-content-right table {
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    text-align: center;
}
.delivery-content-right table tr th:first-child{
    text-align: left;
}
.delivery-content-right table tr th {
    padding-bottom: 12px;
    border-bottom: 2px solid #dddddd;
}
.delivery-content-right table tr th:last-child{
    text-align: right;
}
.delivery-content-right table tr td {
    padding: 6px 0;
}
.delivery-content-right table tr:nth-child(4) {
    border-top: 2px solid #dddddd;
}
.delivery-content-right table tr td:last-child{
    text-align: right;
}
.delivery-content-right table tr td:first-child{
    text-align: left;
}

/* Payment */
.payment{
    padding: 100px 0;
}
.payment-top-wrap{
    display: flex;
    justify-content: center;
    align-items: center;

}
.payment-top-item {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #dddddd;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
}
.payment-top {
    height: 2px;
    width: 70%;
    background-color: #dddddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 0 100px;
}
.payment-top-item i {
    color: #dddddd;
}
.payment-top-payment {
    border: 1px solid #0DB7EA;
}
.payment-top-payment i {
    color: #0DB7EA;
}
.payment-content-left {
    width: 60%;

}
.payment-content-right{
    width: 40%;
    border-left: 2px solid #dddddd;
    padding-left: 12px;
}
.payment-content-left p,label {
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
}
.payment-content-right-button {
    display: flex;
    padding: 12px 0;
    border-bottom: 1px dashed #dddddd;
}
.payment-content-right-button input {
    height: 30px;
    width: 200px;
    margin-right: 100px;
    padding-left: 12px;
}
.payment-content-right-button button {
    height: 30px;
    width: 100px;
    background-color: black;
    color: white;
    border: none ;
    cursor: pointer;
}
.payment-content-right-payment {
    margin-top: 5px;
    align-items: center;
    text-align: center;

}
.payment-content-right-payment button {
    height: 35px;
    padding: 0 20px;
    font-size: 12px;
    color: black;
    cursor: pointer;
    background-color: #dddddd;
    transition: all 0.3s ease;
    border: 1px solid black;
}
.payment-content-right-payment button:hover {
    background-color: black;
    color: white;
}